* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-back0: #eee;
  --color-back1: #fff;
  --color-back-must: #fff;
  --color-back-next: #eee;
  --color-theme: #45c7ff;
  --color-text: #000;
  --color-title: #fff;
  --color-gray: rgb(159, 206, 213);
  --color-panel-main__btnListItem: linear-gradient(#ecf9ff, #e7ebff);
  --color-button: #ecf9ff;
  --color-button-hover: #ceefff;
  --opac-img: 100%;
  --opac-invert: none;
  --header-height: 50px;
}

// ダークモードの動作
@media (prefers-color-scheme: dark) {
  :root {
    --color-back-must: #111;
    --color-back-next: #222;
    --color-back0: #111;
    --color-back1: #222;
    --color-theme: #17465a;
    --color-text: #ddd;
    --color-title: #ddd;
    --color-gray: rgb(43, 76, 81);
    --color-panel-main__btnListItem: linear-gradient(#29343c, #292c3c);
    --color-button: #2e4f62;
    --color-button-hover: #33383c;
    --opac-img: 80%;
    --opac-invert: invert(1);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  opacity: var(--opac-img);
}

body {
  color: var(--color-text);
  background: var(--color-back1);
  padding-top: var(--header-height);
}

#error_message {
  color: red;
  padding: 10px 0;
}
